[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
twine = "*"
pylint = "*"

[packages]
pulumi = ">=2.1.0,<3.0.0"
pulumi-aws = ">=2.2.0,<3.0.0"

[requires]
python_version = "3.7"
